n8n/workflows/youtube_transcript_async_import.json
{
  "name": "YouTube Transcript Async Helper",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        300
      ],
      "id": "manual-trigger",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "youtube-url",
              "name": "youtube_url",
              "value": "https://www.youtube.com/watch?v=00CKQmBpsIc",
              "type": "string"
            },
            {
              "id": "filename",
              "name": "filename",
              "value": "yt_00CKQmBpsIc.txt",
              "type": "string"
            },
            {
              "id": "language",
              "name": "language",
              "value": "en",
              "type": "string"
            },
            {
              "id": "return-text",
              "name": "return_text",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "prefer-generated-captions",
              "name": "prefer_generated_captions",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "force-transcribe",
              "name": "force_transcribe",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        300
      ],
      "id": "set-inputs",
      "name": "Set Inputs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://youtube-transcript-worker:8010/youtube-transcript-jobs",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { youtube_url: $json.youtube_url, filename: $json.filename, language: $json.language, return_text: $json.return_text, prefer_generated_captions: $json.prefer_generated_captions, force_transcribe: $json.force_transcribe } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -540,
        300
      ],
      "id": "create-job",
      "name": "Create Transcript Job"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -300,
        300
      ],
      "id": "wait-before-check",
      "name": "Wait 10s"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://youtube-transcript-worker:8010/youtube-transcript-jobs/{{$json.job_id}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -40,
        300
      ],
      "id": "check-job",
      "name": "Check Transcript Job"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-completed",
              "leftValue": "={{$json.status}}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        220
      ],
      "id": "is-completed",
      "name": "Is Completed?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-failed",
              "leftValue": "={{$json.status}}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        380
      ],
      "id": "is-failed",
      "name": "Is Failed?"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: true, status: $json.status, job_id: $json.job_id, filename: $json.result.filename, method: $json.result.method, transcript_path: $json.result.transcript_path, saved_to_host: $json.result.saved_to_host, transcript_text: $json.result.transcript_text, video_id: $json.result.video_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        140
      ],
      "id": "shape-success",
      "name": "Shape Success Output"
    },
    {
      "parameters": {
        "jsCode": "throw new Error('Transcript job failed [' + ($json.status || 'unknown') + ']: ' + ($json.error || 'No error message returned'));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        320
      ],
      "id": "throw-failure",
      "name": "Throw Failure"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Inputs": {
      "main": [
        [
          {
            "node": "Create Transcript Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Transcript Job": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Check Transcript Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Transcript Job": {
      "main": [
        [
          {
            "node": "Is Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          {
            "node": "Shape Success Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Failed?": {
      "main": [
        [
          {
            "node": "Throw Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {}
}
